.tag {
  width: 250px;
  height: 385px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
}
.profile-pic {
  width: 250px;
  height: 250px;
  border: none;
  object-fit: cover;
  padding-bottom: 0px;
}
.name-tag {
  font-weight: bold;
  color: black;
  font-size: 25px;
  font-family: Arial;
  padding-left: 8px;
  padding-top: 8px;
  margin: 0px;
}
.details {
  font-family: Arial;
  padding-left: 8px;
  padding-top: 8px;
  margin: 0px;
  font-size: 20px;
}
.add {
  background-color: rgb(36, 143, 231);
  color: white;
  border: none;
  border-radius: 5px;
  padding-right: 21px;
  padding-left: 21px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: Arial;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
}
.tag-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}