.request-now {
  background-color: black;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  cursor: pointer;
  transition: opacity 0.15s;
}
.request-now:hover {
  opacity: 0.8;
}
.request-now:active {
  opacity: 0.5;
}