.p1 {
  display: inline-block;
  width: 210px;
  font-family: Arial;
  vertical-align: middle;
  margin-right: 25px;
}
.yes,
.no {
  display: inline-block;
  font-weight: bold;
  border-radius: 3px;
  border-style: solid;
  vertical-align: middle;
  width: 60px;
  height: 30px;
  border-color: gray;
}