.button {
  background-color: rgb(255, 216, 20);
  height: 36px;
  width: 150px;
  color: black;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.15s,
}
.button:hover {
  background-color: rgb(228, 133, 0);
}
.button:active {
  opacity: 0.5;
}