.button {
  background-color: rgb(46, 164, 79);
  height: 36px;
  width: 85px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: box-shadow 0.15s;
}
.button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}