p {
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.span-example {
  cursor: pointer;
}
.span-example:hover {
  text-decoration: underline;
}
.video-title {
  font-size: 18px;
  font-weight: bold;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}
.video-stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}
.video-author {
  color: rgb(96, 96, 96);
  font-size: 14px;
  margin-bottom: 20px;
}
.video-description {
  color: rgb(96, 96, 96);
  font-size: 14px;
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;
}
.apple-text {
  margin-bottom: 50px;
  background-color: rgb(227, 65, 64); 
  font-size: 14px;
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}